*{
    margin: 0;
    padding: 0;
}

#accueil {
    height: 120vh;
    background-image: url('image/bannière\ violette.png');
    background-size: cover;

}

#accueil nav {
    padding: 5%;
    height:10px;
}

#accueil ul{
    display: flex;
}

#accueil img{
    margin-top: -2%;
    margin-right: 15%;
    width: 250px;
    height: 63px;
}

#accueil li {
    text-decoration: none;
    list-style: none;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-right: 190px;
}

a{
    text-decoration: none;
    color: white;
}


#accueil button{
    height: 8%;
    width: 10%;
    border-radius: 40px;
    border: 1px solid #707070;
    margin-left: 45%;
    font-size: 20px;
    margin-top: 35%;
    background-color: white;
    color:#7D68AC;
}

#regles{
    height: 100vh;
    background-image: url('image/violet.png');
    background-size: cover;
}

h1{
    text-align: center;
    padding-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 35px;
}

.reglesContenu{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.reglesText{
    /*margin-right: 10%;*/
    margin-top: 30px;
}

.reglesText p {
    margin-top: 6%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: white;
}

#regles img {
    height: 670px;
    width: 550px;
    margin-top: -10%;
}

#photos {
    height: 100vh;
}

#photos img{
    height: 200px;
    margin-left: 15%;
    margin-top: 5%;
}

h2{
    text-align: center;
    padding-top: 50px;
}

footer {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background: white;

    position: relative;
}

#contact {
    width: 80%;
}

#contact h2 {
    color: #9EC1D4;
    font-size: 40px;
}

.contactContenu{
    display: flex;
    width: 80%;
    margin: auto;

    color: #9EC1D4;
    font-size: 20px;
}

strong {
    font-size: 25px;
    font-weight: normal;
}

.logo {
    margin: auto;
}

.playButton {
    border-radius: 61px;
    background-color: black;
    color: #9EC1D4;
    width: 200px;
    height: 50px;

    margin: auto;

    display: grid;
    place-items: center;

    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.footer {
    width: 80%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footerButton {
    width: 50%;
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
