*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: url('image/brown-paper-texture-macro-brown-paper-vintage-texture-crumpled-paper.png');
    background-size: cover;
}

#top .logo{
    margin-left: 40%;
    margin-top: 80px;
    width: 350px;
}

h1{
    text-align: center;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#top .rebus{
    width: 1200px;
    height: 1200px;
    margin-top: -20%;
    margin-left: 10%;
}

h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: -20%;
}

#mid img{
    margin-left: 35%;
    height:600px;
}