*{
    margin: 0;
    padding: 0;
}

#accueil {
    height: 100vh;
    background-color: rgb(173, 157, 157);
}

#accueil section {
    padding: 100px;
}

#accueil ul{
    display: flex;
    justify-content: space-between;
}

#accueil li{
    text-decoration: none;
    list-style: none;
}

#accueil button{
    height: 5%;
    width: 8%;
    border-radius: 20%;
    border: none;
    margin-left: 45%;
    font-size: 15px;
}